.pagetitle {
  grid-column: 1;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.pagetitle a {
  padding: 1rem;
}

.navbar {
  grid-column: 2;
  text-align: center;
  width: 100%;
  height: 100%;
}

.navbar ul {
  display: flex;
  grid-auto-flow: column;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  list-style-type: none;
  margin: auto;
  padding: 0;
  width: 100%;
  height: 100%;
}

.navbar ul li {
  padding: .5em;
  width: auto;
  height: 100%;
  margin-right: 1.25em;
}

.navbar ul li a {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0;
  border: 0;
}

.navbar ul li.active {
  background-color: var(--bg);
}

.footer ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  grid-auto-flow: column;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}

.footer ul a {
  padding: 0;
}

.footer li {
  font-size: 0.75em;
}

.footer li:not(:last-child) {
  border-right: 1px solid var(--link);
}



