.debugBox {
  font-family: monospace;
  font-size: 0.9em;
  padding: 1em;
  box-sizing: border-box;
  background-color: #e91313;
  color: #f6ec1e;
  font-style: normal;
  border: 1px solid #ccc;
  border-radius: 8px;
}