.grid-container {
  display: grid;
  height: 90vh;
  grid-template-columns: 1fr;
  grid-template-rows: 3rem 1fr 3rem;
  grid-template-areas:
    "header"
    "content"
    "footer";
}

.header {
  grid-area: header;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: column;
  align-items: center;
  width: 100%;
  height: 5rem;
  font-weight: bold;
  background: linear-gradient(to right, var(--main-bg-color), var(--header-bg-color));
}

.content {
  grid-area: content;
  padding: 1em;
  float: center;
}

.footer {
  grid-area: footer;
  max-height: 2em;
}

/*
  For larger screens, make sure that articles don't just spread all the
  way across the screen. Make it more readable by keeping it centered
  and smaller.
*/
@media (min-width: 768px) { 
  // For general pages like disclaimer.md
  .container.page article {
    max-width: 800px;
    margin: 2rem auto;
    padding: 0 1.5rem;
  }

  // For blog posts
  .container.post article {
    max-width: 800px;
    margin: 2rem auto;
    padding: 0 1.5rem;
  }

  .header {
    max-width: 800px;
    margin: 0 auto;
  }
}