.quote-container {
  flex: 0 1;
  min-width: 300px;
  max-width: 400px;
  padding: 1em;
  box-sizing: border-box;
  background-color: var(--quote-bg-color);
  font-style: italic;
  font-size: 1.1em;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  border: 1px solid var(--quote-border-color);
  border-radius: 8px;
}

.quote-container.fade-out {
  opacity: 0;
}

.quote-author {
  text-align: right;
  font-size: 0.9em;
  color: var(--quote-author-text-color);
  margin-top: 5px;
  font-weight: bold;
}
