{{ define "title" }}
  {{- i18n (lower .Title) | default .Title | title -}} · {{ .Site.Title }}
{{ end }}
{{ define "content" }}
  <div class="articlelist">
    <h1 class="title">{{- i18n (lower .Title) | default .Title | title -}}</h1>
    <ul>
    {{ $userFilteredBlogPath := printf "/%s/blog" .Section }}
    {{ range where .Site.Pages "Type" "blog" }}
      {{ if strings.HasPrefix .Path $userFilteredBlogPath }}
      {{ if .IsPage }}
      <li>
        <div class="date">{{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}</div>
        <a class="listed-title" href="{{ .Params.ExternalLink | default .RelPermalink }}">{{ .Title }}</a>
      </li>
      {{ end }}
      {{ end }}
      {{ end }}
    </ul>
  </div>
{{ end }}
