{{ if or .IsHome (eq .Slug "disclaimer") }}
<div class="header" >
  <div class="pagetitle"> <a href="{{ "" | absURL }}">{{ .Site.Params.title }}</a></div>
  <nav class="navbar">
    <ul>
    {{ range $name := .Site.Params.names }}
      <li><a href="{{ $name | absURL }}">{{ (index $.Site.Params $name).author }}</a></li>
    {{ end }}
    </ul>
  </nav>
</div>
{{ else }}
<div class="header">
  <div class="pagetitle">
    <a href="{{ .Section | absURL }}">{{ (index .Site.Params .Section).description }}</a>
  </div>
  <nav class="navbar">
    <ul>
      <li class="{{ if hasSuffix .Permalink "/about/" }}active{{ end }}"><a href="{{ .Section | absURL}}/about">About</a></li>
      <li class="{{ if hasSuffix .Permalink "/blog/" }}active{{ end }}"><a href="{{ .Section | absURL}}/blog">Blog</a></li>
<!--      <li><a href="mailto:{{ (index .Site.Params .Section).email }}">Contact</a></li> -->
    </ul>
  </nav>
</div>
{{ end }}
