<div class="userboxes">
  <div class="userbox">
    {{ if (isset (index .Site.Params .Section) "avatarurl") }}
      {{ with (index .Site.Params .Section).avatarurl }}
        <div class="avatar"><img src="{{ . | relURL }}" alt="avatar"></div>
      {{ end }}
    {{ end }}
    <div class="username">{{ (index .Site.Params .Section).author }}</div>
    <div class="navlinks">
    {{ with (index .Site.Params.global .Section).social }}
      {{ range sort . "weight" }}
        {{ if .icon }}
          <div class="navicon navlink">
            <a href="{{ .url }}" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}"{{ end }} {{ if .target }}target="{{ .target }}"{{ end }} {{ if .type }}type="{{ .type }}"{{ end }}>
              <i class="{{ .icon }}" aria-hidden="true"></i>
            </a>
          </div>
        {{ else }}
          <div class="navtext navlink">
            <a href="{{ .url }}" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}"{{ end }} {{ if .target }}target="{{ .target }}"{{ end }}>{{ .name }}</a>
          </div>
        {{ end }}
      {{ end }}
    {{ end }}
    </div>
  </div>
</div>
