<div class="userboxes">
  <div class="userbox">
    {{ $user := index .Site.Params .Section }} {{/* Get the parameters for the current section (user) */}}
    {{ if (isset $user "avatarurl") }}
      <div class="avatar">
        {{- partial "avatar-image.html" (dict
          "imagePath" $user.avatarurl
          "altText" (printf "%s's avatar" $user.author)
        ) -}}
      </div>
    {{ end }}
    <div class="username">{{ $user.author }}</div>
    <div class="navlinks">
    {{ with (index .Site.Params.global .Section).social }}
      {{ range sort . "weight" }}
        {{ if .icon }}
          <div class="navicon navlink">
            <a href="{{ .url }}" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}"{{ end }} {{ if .target }}target="{{ .target }}"{{ end }} {{ if .type }}type="{{ .type }}"{{ end }}>
              <i class="{{ .icon }}" aria-hidden="true"></i>
            </a>
          </div>
        {{ else }}
          <div class="navtext navlink">
            <a href="{{ .url }}" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}"{{ end }} {{ if .target }}target="{{ .target }}"{{ end }}>{{ .name }}</a>
          </div>
        {{ end }}
      {{ end }}
    {{ end }}
    </div>
  </div>
</div>