{{ define "content" }}
  <div class="userboxes">
    {{ range $name := .Site.Params.names }}
    {{ $user := index $.Site.Params $name }} {{/* Get the specific user's parameters */}}
    <div class="userbox selectable">
      <a href="{{ $name | absURL }}">
        {{ with $user.avatarurl }} {{/* Check if avatarurl exists for this user */}}
          <div class="avatar">
            {{/* Call the partial, passing a dictionary of parameters */}}
            {{- partial "avatar-image.html" (dict
              "imagePath" .
              "altText" (printf "%s's avatar" $user.author)
            ) -}}
          </div>
        {{ end }}
        <div class="username">{{ $user.author }}</div>
      </a>
    </div>
    {{ end }}
  </div>
{{ end }}
