{{ define "content" }}
  <div class="userboxes">
    {{ range $name := .Site.Params.names }}
    {{ $user := index $.Site.Data.users $name }}
    <div class="userbox selectable">
      <a href="{{ $name | absURL }}">
        {{ with $user.avatarurl }}
          <div class="avatar">
            {{- partial "avatar-image.html" (dict
              "imagePath" .
              "altText" (printf "%s's avatar" $user.name)
            ) -}}
          </div>
        {{ end }}
        <div class="username">{{ $user.name }}</div>
      </a>
    </div>
    {{ end }}
  </div>
{{ end }}
