:root {
  /* Dark Theme Definitions are below */
  --dark-main-bg-color: var(--base);
  --dark-header-bg-color: var(--mantle);
  --dark-hover-bg-color: var(--peach);
  --dark-text-color: var(--text);
  --dark-highlight-color: var(--sapphire);
  --dark-site-link-color: var(--overlay2);
  --dark-site-link-quiet-color: var(--overlay2);

  --dark-quote-bg-color: var(--surface1);
  --dark-quote-border-color: var(--surface2);
  --dark-quote-author-text-color: var(--subtext1);

  --dark-code-background-color: #464444;
  --dark-pre-border-color: #939090;

  --dark-hyperlink-color: var(--blue);
  --dark-article-title-color: var(--lavender);
  --dark-article-title-accent-color: var(--overlay2);
  
  --dark-callout-bg-color: var(--overlay0);
  --dark-callout-left-border-color: var(--sapphire);
  --dark-callout-text-color: var(--rosewater);
  --dark-callout-strong-color: var(--blue);

  --dark-resume-role-line-text-color: var(--rosewater);
}