:root {
 /* Light Theme Definitions */
  --main-bg-color: white;
  --main-accent-color: white;
  --header-bg-color: #F9EBE0;
  --hover-bg-color: lightgrey;
  --text-color: black;
  --highlight-color: black;
  --site-link-color: black;
  --site-link-quiet-color: black;

  --pre-background-color: #eee;
  --pre-border-color: #ccc;
  --code-background-color: #f0f0f0;

  --debug-box-text-color: #f6ec1e;
  --debug-box-bg-color: #e91313;
  --debug-box-border-color: #ccc;

  --quote-bg-color: #faf7f4;
  --quote-border-color: #ccc;
  --quote-author-text-color: #555;

  --callout-bg-color: #f0f8ff;
  --callout-left-border-color: #66b3ff;
  --callout-text-color: #333;
  --callout-strong-color: #0056b3;

  --resume-role-line-text-color: var(--text-color);
}