{{ $users := .Site.Params.names | default (slice) }}
{{ if not (in $users .Section) }}
  {{ partial "header/home-header.html" . }}
  {{ return }}
{{ end }}

{{ $current_user := index $.Site.Data.users .Section }}
<div class="header">
  <div class="pagetitle">
    <a class="sitelink" href="{{ .Section | absURL }}">{{ $current_user.name }}</a>
  </div>

  {{ partial "theme-selector.html" }}

  <nav class="navbar">
    <ul>
      <li class="{{ if hasSuffix .Permalink "/about/" }}active{{ end }}">
        <a class="sitelink sitelink-quiet" href="{{ printf "/%s/about/" .Section | relURL }}">About</a>
      </li>
      <li class="{{ if hasSuffix .Permalink "/blog/" }}active{{ end }}">
        <a class="sitelink sitelink-quiet" href="{{ printf "/%s/blog/" .Section | relURL }}">Blog</a>
      </li>
      {{ if $current_user.email }}
      <li><a href="mailto:{{ $current_user.email }}">Contact</a></li>
      {{ end }}
    </ul>
  </nav>
</div>